* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(img/bleu1.jpg);
     height: auto;
    width: 100%;
    //height: 10px;

}

/* Style the header */
.header {
    opacity: 0.9;
    background-color: #A3CEF0;    
    padding: 15px;
    text-align: center;
    height:110px;

}
#head{
    color: #030F29;
}

/* NavBAr */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D2144;
}

li {
    float: left;
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #1D3E71;
}

.active {
    background-color: #FFCC48;
}
#spaceline{
    height: 35px;   
}


h1 {
    color: white;
    font-size: 40px;
    margin: auto;
}
h2 {
    color: white;
}
.knop {
    background-color: #cccc00;
    width: 173px;
    height: 30px;
    border-radius: 10px;
}


#index{
    width: 1590px;
}
.column {
    
    float: left;
}

/* Left mid and right column */
.column.side {
    
    opacity: 0.5;
    background-color: #ffffcc;
    width: 23%;
    height: 550px;
    margin: 5px;
    padding-left: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
    

}

/* Middle column */
.column.middle {
    opacity: 0.7;
    background-color: #ffffcc;
    width: 53%;
    height: 550px;
    margin: 5px;
    padding-left: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
    
}
/* right column */
.column.right {
    opacity: 0.5;
    background-color: #ffffcc;
    width: 22%;
    height: 550px;
    margin: 5px;
    padding-left: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
    
}
/* form */
.LogForm {
    background-color: #ffffcc;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    width: 400px;
    align-content: center;
    border-style: solid;
    border-color: #cccc00;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}    
.LogForm2{
    background-color: #ffffcc;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 100px;
    padding-bottom: 20px;
    width: 400px;
    align-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #cccc00;
}

/* input */

input{

    background-color : #ffcc48; 
    height: 30px;
    border-radius: 10px


}
::placeholder {
    color: red;
    opacity: 1; /* Firefox */
    padding-left:  10px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    padding-left:  10px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
    padding-left:  10px;
}


