* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(img/ruitpatroon.jpg);
   height: 10px;
    
}

/* Style the header */
.header {
    background-color: #cccc00;
    padding: 10px;
    text-align: center;
    height:90px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


h1 {
    font-size: 40px;
}
#knop {
    background-color: #cccc00;
}
table {
    background-color: #ffffcc;
}
#index{
    width: 350px;
}
#index{
    width: 1590px;
}
.column {
    float: left;
}

/* Left and right column */
.column.side {
    width: 25%;
    padding-left: 10px;
    
}

/* Middle column */
.column.middle {
    width: 75%;
    padding-left: 10px;
}