div {              
    background-color: #69a923;
    background-image: url(img/bannergreen.jpg);
    background-position: right bottom;
    background-repeat: no-repeat
    }
#banner{
        font-family: Verdana, Times, serif;
        font-size: 400%;
        color: white;
        }
td{
   width: 100px
  }
.button {
         background-color: #4CAF50;
         border: none;
         color: white;
         padding: 15px 32px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
        }
input {
       font-weight: bold;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: 2px solid red;
       border-radius: 4px;
       background-color: #4CAF50;
      }
#knop    {
       font-weight: bold;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: 2px solid red;
       border-radius: 4px;
       background-color: #4CAF50;
      }      